@font-face {
    font-family: "StagSans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/StagSansRegular.ttf") format("truetype");
}

html, body {
    font-family: 'StagSans'; 
    /* font-size: 18px;
    font-weight: 500;
    color: #091747; */
}

.thumbnail_img {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.defective {
    border-color: #ff2d37;
}

.intact {
    border-color:  #2db928;
}